$newman: #d6e4f0;
$ultra-light: #f4f7f9;
$secondary: #c30e23;
$success: #23bcb3;
// green
$green-deep: #073e45;
$green-dark: #09535c;
$green-normal: #0b6873;
$green-light: #3c868f;
$green-fairy: #6da4ab;
// orange
$orange-deep: #99442a;
$orange-dark: #cc5a38;
$orange-normal: #ff7146;
$orange-light: #ff8d6b;
$orange-fairy: #ffaa90;
// smoke
$smoke-deep: #888381;
$smoke-dark: #b5afac;
$smoke-normal: #e2dbd7;
$smoke-light: #e8e2df;
$smoke-fairy: #eee9e7;
// sea
$sea-deep: #0a1520;
$sea-dark: #0e1c2b;
$sea-normal: #112336;
$sea-light: #414f5e;
$sea-fairy: #707b86;
// bw
$bw-deep: #1b1b1b;
$bw-dark: #505050;
$bw-normal: #868686;
$bw-light: #b6b6b6;
$bw-fairy: #e7e7e7;
$bw-clear: #ffffff;
